<html>
  
  <body>
    <h1>Gesture recognition system web app live streaming responsiveness test</h1>
    <img src="{{ url_for('process_feed') }}">
    <p> Recieved response from model:</p>
    <p id="output">Showing gesture output here</p>
    <script>
        var gesture = document.getElementById("output");
        setInterval(() => {
        fetch("{{ url_for('dd') }}")
        .then(response => {
                response.text().then(t => {gesture.innerHTML = t})
            });
        }, 300);
    </script>
  </body>
</html>